<% if logged_in? %>
  <%= render 'category' %>

  <div class="row">
    <div class="col-xs-12">
      <div class="container-inner inner-default clearfix">
        <% @glutenfrees.each do |menu| %>
          <div class="item-box">
            <div class="image">
              <div class="img-wrap">
              <p><%= image_tag menu.image.url %></p>
              </div>
            </div>
            <div class="detail">
              <p class="title">
                <%= menu.name %> <%= menu.calorie %>[kcal]
              </p>
            </div>
            <%= render 'users/like_form' , menu: menu if logged_in? %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <%= render 'signup' %>
<% end %>