<% content_for :head do %>
  <title>
    <%= @menu.name %> - Mealthy
  </title>
  <meta name="description" content="<%= @menu.name %>に関する情報です">
  <meta name="keywords" content="Mealthy,<%= @menu.name %>">
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag @menu.image.url %>
      
      <div id="like_form">
        <br>
        <% if current_user.like?(@menu) %>
          <%= render 'users/unlike' , menu: @menu %>
        <% else %>
          <%= render 'users/like' , menu: @menu %>
        <% end %>
      </div>
    </div>
　  <section class="col-sm-6">
      <h3><%= @menu.name %></h3>
      <p>価格：<%= @menu.price %>円（税込）</p>
      <p>カロリー：<%= @menu.calorie %>kcal</p>
      <p>たんぱく質：<%= @menu.protein %>g</p>
      <p>脂質：<%= @menu.lipid %>g</p>
      <p>炭水化物：<%= @menu.carb %>g</p>        
      <p>塩分（Na）：<%= @menu.sodium %>mg</p>
    </section><br>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/post_form' %>
    </div>
  </div>
</div>
