<% if logged_in? %>
  <%= render 'category' %>

  <div class="row">
    <aside class="col-md-4">
    </aside>
    <div class="col-md-8">
      <div>
        <% @vege.each do |menu| %>
          <li class="posts">
            <p><%= image_tag menu.image.url %></p>
            <p><%= menu.name %> <%= menu.calorie %>[kcal]</p><br>
          </li>
        <% end %>
      </div>
    </div>
  </div>
  
<% else %>
  <%= render 'signup' %>
<% end %>