<li id="post-<%= post.id %>">
  <%= link_to image_tag(post.user.image.url, :size => '40x40', alt: post.user.name), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= post.content %></span>
  <span class="image"><%= image_tag post.image.url, :width => '200' %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user == post.user %>
      <%= link_to "DELETE", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>